<pluginMetaData path="astmlightmode">
	<name>Transmission Mode - ASTM Light</name>
	<author>Johannes Heinzl</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.11.0</mirthVersion>
	<url></url>
	<description>This plugin provides an ASTM transmission mode for socket/serial connectors as light version.</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.astmlightmode.ASTMLightModeProvider</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.astmlightmode.ASTMLightModePlugin</string>
	</clientClasses>
	<library type="CLIENT" path="astmlightmode-client.jar" />
	<library type="SERVER" path="astmlightmode-server.jar" />
	<library type="SHARED" path="astmlightmode-shared.jar" />
</pluginMetaData>